<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.myoralvillage.cashcalculator"
    >

    <supports-screens
        android:largeScreens="false"
        android:smallScreens="true"
        android:xlargeScreens="false"
        android:normalScreens="true"
        />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:roundIcon="@drawable/ic_launcher_round"
        android:label="${appLabel}"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TutorialActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity android:name=".tutorials.IntroVideoActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity android:name=".tutorials.AdvancedVideoActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity android:name=".tutorials.ThirdVideoActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity android:name=".tutorials.ZeroVideoActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity android:name=".tutorials.ZeroVideoActivity_1"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity android:name=".tutorials.ZeroVideoActivity_2"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity android:name=".tutorials.ZeroVideoActivity_3"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity android:name=".tutorials.ZeroVideoActivity_4"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity android:name=".tutorials.ZeroVideoActivity_5"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity android:name=".tutorials.NumericVideoActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity android:name=".SplashActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
